

/* =========================
   General Styles
========================= */

* {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  color: #0d0d0d;
  margin: 0;
  padding: 0;
}

.highlight {
  background: rgb(255, 247, 0);
  padding: 0 2px;
  border-radius: 2px;
}


.note-highlight,
.note-highlight-block {
  background: #a7f3d0;
  /* soft green */
  padding: 2px 4px;
  border-radius: 2px;
  display: inline-block;
}

.note {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.comment {
  margin-top: 4px;
  font-size: 0.9em;
  padding: 4px;
  background: #f9f9f9;
  border-radius: 4px;
}



/* =========================
   Responsive
========================= */
@media (max-width: 992px) {
  .split-container {
    flex-direction: column;
  }

  .split {
    min-width: 100%;
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .left-pane,
  .right-pane {
    min-width: 100%;
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .divider {
    width: 100%;
    height: 10px;
    cursor: row-resize;
  }

  .divider::before {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .part-nav {
    min-width: 160px;
    padding: 8px;
    flex: 0 0 auto;
  }

  .d-flex.flex-wrap {
    overflow-x: auto;
  }
}